[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
colorama = "*"
python-dotenv = "*"
langchain-openai = "*"
langchain-ollama = "*"
langapp = {file = "."}

[dev-packages]

[requires]
python_version = "3.11"
